body {
  background: white;
}

.select-style {
  border: 1px solid rgb(192, 192, 192);
  width: 200px;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  font-size: 20px;
  border: none;
  box-shadow: none;
}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.customers th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #338ed8;
  color: white;
}
